@font-face {
    font-family: 'shadow9';
    src: url('../font/shadow9.TTF');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../img/main-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-content: center;
    color: white;
    font-family: 'shadow9';
}

#back {
    float: left;
    margin-left: 2%;
    width: 30px;
    z-index: 2;
    cursor: pointer;
}

h3 {
    font-family: 'shadow9';
}

#audiobtn {
    float: right;
    margin-right: 2%;
    width: 30px;
    z-index: 2;
    cursor: pointer;
}

.screen {
    text-align: center;
    position: absolute;
    width: 76%;
    height: 60%;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 6px;
}

.screen::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}

.screen::-webkit-scrollbar-thumb {
    background-color: white; /* 스크롤바 색상 */
    border-radius: 10px;
}

.screen::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* 스크롤바 배경색 */
}

.select_exercise div {
    display: inline-block;
    padding: 20px;
}

.exercise {
    width: 250px;
    height: 300px;
}

.select_exercise img {
    width: 200px;
    height: 200px;
}

input[type="button"] {
    border: 5px;
    border-color: orange;
    background-color: rgba(0, 0, 0, 0);
    color: orange;
    font-size: 2em;
    font-family: 'shadow9';
}

input[type="button"]:hover {
    color: #17ec91;
}

/* people.html */
h3 {
    font-size: 30px;
}

#left {
    float: left;
    margin-left: 5%;
    width: 40%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
}

#left img {
    min-width: 40px;
}

#right {
    float: right;
    margin-right: 5%;
    width: 40%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right div {
    margin-top: 30px;
}

#explain {
    font-size: 1.3rem;
}

.radio div {
    display: inline-block;
    margin: 20px;
}

.radio input {
    display: none;
}

label {
    cursor: pointer;
}

label:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background: orange;
    border-radius: 50%;
    z-index: 2;
    transition: box-shadow .4s ease, background .3s ease;
}

input[type="radio"]:checked + label:before {
    /* 수평 그림자 / 수직 그림자 / 선명도 / 확산 거리 */
    box-shadow: inset 0px 0px 0 5px orange;
    background: black;
}

p {
    font-family: 'shadow9';
    font-size: 20px;
    color: white;
}

#playbtn {
    border: 5px;
    border-color: orange;
    background-color: rgba(0, 0, 0, 0);
    color: orange;
    font-size: 2em;
}

#playbtn:hover {
    color: #17ec91;
}

/* play.html */
#timer {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}