@font-face {
    font-family: '쉐도우9';
    src: url('../static/쉐도우9.TTF');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('/static/game.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: black; */
    align-content: center;
    color: white;
    /* font-family: 'Do Hyeon', sans-serif; */
    font-family: '쉐도우9';
    /* position: fixed; */
    overflow: hidden;
  }
  
/* base.html */
header a {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: '쉐도우9';
    color: white;
    /* text-align: center;
    font-size: 50px; */
    text-decoration: none;
    /* display: inline-block;
    width: 180px;
    height: 45px;
    position: absolute; */
}

#title {
    /* margin: 3vmin; */
    position: static;
    /* margin-left: 20px;
    margin-top: 20px; */
    font-size: 25px;
}

#audiobtn {
    position: relative;
    top: 17%;
    left: 13%;
    width: 20px;
}

#redbtn {
    width: 20px;
    height: 5px;
    color: red;
    position: relative;
    left: 78%;
    top: 85%;
    font-size: 10%;
}

input #btn {
    font-family: '쉐도우9';
    width: 130px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    color: orange;
    background: black;
    border: 2px solid orange;
    border-radius: 20px;
    box-shadow: 5px 5px 0 orange,
                -5px -5px 0 orange,
                -5px 5px 0 orange,
                5px -5px 0 orange;
    transition: 400ms ease-in-out;
}

/* index.html */
.wrap {
    text-align: center;
}

.wrapper {
    /* flex */
    display: flex;
    /* width: 100%;
    height: 100%; */
    width: 90%;
    height: 90%;
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 세로 정렬 */
    margin: 0 auto; /* 가운데 정렬 */
}

.explanation img {
    max-width: 70%;
    height: 70%;
}
  
.start {
    position: relative;
    margin-top: 20px;
}

/* exercise.html */
.select_exercise {
    text-align: center;
}
    
.select_exercise div {
    display: inline-block;
    padding: 20px;
}

.exercise {
    width: 250px;
    height: 300px;
}

.select_exercise img {
    width: 250px;
    height: 250px;
}

button {
    /* font-family: 'Do Hyeon', sans-serif; */
    font-family: '쉐도우9';
    width: 130px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    color: orange;
    background: black;
    border: 2px solid orange;
    border-radius: 20px;
    box-shadow: 5px 5px 0 orange,
                -5px -5px 0 orange,
                -5px 5px 0 orange,
                5px -5px 0 orange;
    transition: 400ms ease-in-out;
}

button:hover {
    box-shadow: 10px 5px 0 orange, -10px -5px 0 orange;
}

button:focus {
    outline: none;
}

/* people.html */
h3 {
    font-size: 30px;
}

.radio div {
    display: inline-block;
    margin: 20px;
}

.radio input {
    display: none;
}

label {
    cursor: pointer;
    /* margin: 10px 10px; */
}

label:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background: orange;
    border-radius: 50%;
    z-index: 2;
    transition: box-shadow .4s ease, background .3s ease;
}

input:checked + label:before {
    /* 수평 그림자 / 수직 그림자 / 선명도 / 확산 거리 */
    box-shadow: inset 0px 0px 0 5px orange;
    background: black;
}

p {
    /* font-family: 'Do Hyeon', sans-serif; */
    font-size: 20px;
}

.nbsp {
    margin: 20px;
}

.team {
    text-align: center;
    font-size: 50px;
}

input {
    width: 200px;
    height: 40px;
    /* font-family: 'Do Hyeon', sans-serif; */
    font-family: '쉐도우9';
    font-size: 50%;
    text-align: center;
}

/* play.html */
#timer {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#loading_image {
    width: 1000px;
    height: 1000px;
    z-index: 10000;
}