{% extends 'base.html' %}
{% block content %}
{% load static %}
<script type="text/javascript">
    let bgm = new Audio();
    bgm.src = "/static/upright-piano-arcade-instrumental-mix-1342.mp3";
    bgm.play();

    let count = 1;
</script>

<div class="screen">
    <form method='POST'>
        {% csrf_token %}
        <div class="select_exercise">
            <div class="exercise">
                <img src="/static/push_up.gif">
                {% comment %} <button type="submit" name="selected_e" value='푸시업' onclick="select_exercise(this.value)">푸시업</button> {% endcomment %}
                <input type="button" value="푸시업" onclick="select_exercise(this)"></input>
            </div>
            <div class="exercise">
                <img src="/static/side_lunge.gif">
                {% comment %} <button type="submit" name="selected_e" value='사이드 런지'>사이드 런지</button> {% endcomment %}
                <input type="button" value="사이드 런지" onclick="select_exercise(this)"></input>
            </div>
            <div class="exercise">
                <img src="/static/standing_knee_up.gif">
                {% comment %} <button type="submit" name="selected_e" value='스탠딩 니 업'>스탠딩 니 업</button> {% endcomment %}
                <input type="button" value="스탠딩 니 업" onclick="select_exercise(this)"></input>
            </div>
            <div class="exercise">
                <img src="/static/step_forward_lunge.gif">
                {% comment %} <button type="submit" name="selected_e" value='포워드 런지'>포워드 런지</button> {% endcomment %}
                <input type="button" value="포워드 런지" onclick="select_exercise(this)"></input>
            </div>
        </div>
    </form>
</div>
{% endblock %}
