{% extends 'base.html' %}
{% block content %}
    <div class='wrapper'>
        <div class='wrap'>
            <div class='explanation'>
                {% comment %} <img src='/static/main.gif' style='width=100%; height=100%; object-fit:contain;'></img> {% endcomment %}
                <img src='/static/main6.gif'></img>
            </div>
            <form action="{% url 'fitness:select' %}">
                <div class='start'>
                    <button type='submit'>게임 시작</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}