{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
    let bgm = new Audio();
    bgm.src = "/static/upright-piano-arcade-instrumental-mix-1342.mp3";
    bgm.play();

    let count = 1;

    function getval(value) {
        let selected = value;
        console.log(selected);
    };
</script>
    <div class='wrapper'>
        <div class='wrap'>
            <div class='explanation'>
                <img src='/static/main7.gif'></img>
            </div>
            {% comment %} <form action="{% url 'fitness:select' %}"> {% endcomment %}
            {% comment %} <form action="{% url 'fitness:exercise' %}"> {% endcomment %}
                <div class='start'>
                    {% comment %} <button type='submit' value="게임 시작" onclick="getval(this.value)">게임 시작</button> {% endcomment %}
                    <input type="button" value="게임 시작" id="btn" onclick="
                        fetch('exercise/').then(function(response){
                            response.text().then(function(text){
                                document.querySelector('body').innerHTML = text;
                            })
                    })">
            </form>
        </div>
    </div>
{% endblock %}