{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
    let bgm = new Audio();
    bgm.src = "/static/upright-piano-arcade-instrumental-mix-1342.mp3";
    bgm.play();

    let count = 1;
</script>
<div class="wrapper">
<form method='POST' action="{% url 'fitness:play' %}">
    {% csrf_token %}
    <div class="wrap">
        <img src="{% get_static_prefix %}{{exercise_img}}.gif" width='200px' height='200px'></img>
        {% comment %} {% if exercise_name %} {% endcomment %}
            <h3>{{exercise_name}}</h3>
        {% comment %} {% endif %} {% endcomment %}
        <div class='radio'>
            <div>
                <input type="radio" id="rad1" name="selected_p" value='1'>
                <label for="rad1"></label>
                <p>1인</p>
            </div>
            <div>
                <input type="radio" id="rad2" name="selected_p" value='2'>
                <label for="rad2"></label>
                <p>2인</p>
            </div>
            <div>
                <input type="radio" id="rad3" name="selected_p" value='3'>
                <label for="rad3"></label>
                <p>3인</p>
            </div>
            <div>
                <input type="radio" id="rad4" name="selected_p" value='4'>
                <label for="rad4"></label>
                <p>4인</p>
            </div>
        </div>
        <br>
        <div class='team'>
            팀명<br>
            <input type='text' placeholder='입력해주세요' name='team_name' required></input>
        </div>
        <br><br>
        <button type='submit'>PLAY</button>
        <input type='hidden' name='exercise' value='{{exercise_name}}'></input>
    </div>
</form>
</div>
{% endblock %}