{% extends 'base.html' %}
{% block content %}
<style>
    #loading_image {
        width: 1000px;
        height: 1000px;
        z-index: 10000;
    }
</style>
<div class='wrap'>
    <div id="loading">
        <img id="loading_image" src="/static/loading.gif"/>
    </div>
    <div id='timer'></div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AaDBwFnDUZY?start=50&autoplay=1&mute=1" allow="autoplay;" allowfullscreen></iframe>
    </div>
</div>
<script>
    let time = 60; // 기준 시간
    
    // setInterval(함수, 시간) : 주기적인 실행
    const timer = setInterval(function() {
        document.getElementById('timer').style.fontSize = '40px';
        document.getElementById('timer').innerHTML = time;
                
        if (time <= 10) {
            document.getElementById('timer').style.color = 'red';
        }
                
        time--;
    
        // 타임아웃 시
        if (time < 0) {
            clearInterval(timer); // setInterval() 실행을 끝냄
            document.getElementById('timer').innerHTML = '끝!';
        }
    }, 1000);

    window.onload = function() {
        var parent = document.getElementById('loading');
        var child = document.getElementById('loading_image');
        parent.removeChild(child);
    }
   
</script>

{% endblock %}