{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/css/style_g1.css">
<link rel="stylesheet" type="text/css" href="{% static '/css/style_g1.css' %}"/>

<script type="text/javascript" src="{% static 'js/sideknee_model_player1.js' %}"></script>
<script type="text/javascript">init();</script>
<script>
    const bgm = new Audio();
    bgm.src = "/static/inspiring-8-bit-563.mp3";
    let count = 1;

    window.onload = function() {
        var parent = document.getElementById('loading');
        var child = document.getElementById('loading_image');
        parent.removeChild(child);
        bgm.play();
    }

    let time = 60; // 기준 시간
    
    // setInterval(함수, 시간) : 주기적인 실행
    const timer = setInterval(function() {
        document.getElementById('timer').style.fontSize = '40px';
        document.getElementById('timer').innerHTML = time;
                
        if (time <= 10) {
            document.getElementById('timer').style.color = 'red';
        }
                
        time--;
    
        // 타임아웃 시
        if (time < 0) {
            clearInterval(timer); // setInterval() 실행을 끝냄
            document.getElementById('timer').innerHTML = '끝!';
        }
    }, 1000);
</script>
<div class='screen'>
    <div id='timer'></div>
    <canvas id="canvas"></canvas>
    <img id="monster" scr="img/monster-jelly_0.gif">
    <canvas id="canvas_hp" style="left:59%; position:absolute;"></canvas>
    <div id="label-container"></div>
</div>

{% comment %} <div class='screen'>
    <div id="loading">
        <img id="loading_image" src="/static/img/fitness/loading.gif"/>
    </div>
    
</div> {% endcomment %}




<script type="text/javascript" src="{% static 'js/health-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/monster.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}