<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .a {
            font-size: 3em;
        }
        .a .b:nth-of-type(2) span {
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="a">
        <div class="cc">

            <p class="b"><span>d</span></p>
            <p class="b"><span>d</span></p>
            <p class="b"><span>d</span></p>
            <p class="b"><span>d</span></p>
        </div>
    </div>
</body>
</html>