{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_SD.css' %}"/>
<script type="text/javascript" src="{% static 'js/loading.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sideknee_model_player1.js' %}"></script>
<script type="text/javascript">init();</script>

<script>
    // Damage Values
    let result_score = 0;
    let game_switch = 0; // 0 - 시작전 , 1 - 시작 , 2 - 종료

    const bgm = new Audio();

    let count = 1;
    let time = 10; // 기준 시간
    
    bgm.src = "/static/sound/inspiring-8-bit-563.mp3";
    window.onload = function() {
        bgm.play();
    }
</script>

<div class='screen'>
    <div id='timer'></div>
    <canvas id="canvas"></canvas>
    <img id="monster" scr="{% static 'img/fitness/enemy/monster-jelly_0.gif' %}">
    <canvas id="canvas_hp"></canvas>
    <div id="label-container"></div>
</div>

<script type="text/javascript" src="{% static 'js/health-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/monster.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}