{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/css/style_g1.css">
<link rel="stylesheet" type="text/css" href="{% static '/css/style_g1.css' %}"/>
<link rel="shortcut icon" href="{% static '/img/favicon2.png' %}">

<script>
    let bgm = new Audio();
    bgm.src = "/static/upright-piano-arcade-instrumental-mix-1342.mp3";
    bgm.play();

    let count = 1;

    function getval(value) {
        let selected = value;
        console.log(selected);
    };

    // 배경 음악 재생/정지
    function play_pause() {
        if (count == 0) {
            count = 1;
            bgm.play();
            document.getElementById('audiobtn').src = '/static/on.png';
        }
        else {
            count = 0;
            bgm.pause();
            document.getElementById('audiobtn').src = '/static/off.png';
        };
    };

    // exercise.html -> people.html
    function select_exercise(exercise) {
        const selected_exercise = exercise.value;
        console.log(selected_exercise);
        if (selected_exercise == "푸시업") {
            exercise_img = "push_up";
        } else if (selected_exercise == "사이드 런지") {
            exercise_img = "side_lunge";
        } else if (selected_exercise == "스탠딩 니 업") {
            exercise_img = "standing_knee_up";
        } else {
            exercise_img = "step_forward_lunge";
        };
        console.log(exercise_img);
        fetch('/player/').then(function(response) {
            response.text().then(function(text) {
                document.querySelector('body').innerHTML = text;
                document.getElementById('ex_img').src = "/static/img/fitness/" + exercise_img + ".gif";
                document.getElementById('ex_name').innerHTML = selected_exercise;
            })
        })
    };

    {% comment %} function select_p(p) {
        let selected_p = p.value;
        //console.log(selected_p);
        return selected_p;
    };

    var np = selected_p();
    console.log(np);

    function game_play() {
        fetch('/play/').then(function(response) {
            response.text().then(function(text) {
                document.querySelector('body').innerHTML = text;
            })
        })
    }; {% endcomment %}
</script>

<img id="audiobtn" src="/static/on.png" onclick="play_pause()"></img>
    <div class="screen">
        <form method='POST'>
            {% csrf_token %}
            <div class="select_exercise">
                <div class="exercise">
                    <img src="/static/img/fitness/push_up.gif">
                    {% comment %} <button type="submit" name="selected_e" value='푸시업' onclick="select_exercise(this.value)">푸시업</button> {% endcomment %}
                    <input type="button" value="푸시업" onclick="select_exercise(this)"></input>
                </div>
                <div class="exercise">
                    <img src="/static/img/fitness/side_lunge.gif">
                    {% comment %} <button type="submit" name="selected_e" value='사이드 런지'>사이드 런지</button> {% endcomment %}
                    <input type="button" value="사이드 런지" onclick="select_exercise(this)"></input>
                </div>
                <div class="exercise">
                    <img src="/static/img/fitness/standing_knee_up.gif">
                    {% comment %} <button type="submit" name="selected_e" value='스탠딩 니 업'>스탠딩 니 업</button> {% endcomment %}
                    <input type="button" value="스탠딩 니 업" onclick="select_exercise(this)"></input>
                </div>
                <div class="exercise">
                    <img src="/static/img/fitness/step_forward_lunge.gif">
                    {% comment %} <button type="submit" name="selected_e" value='포워드 런지'>포워드 런지</button> {% endcomment %}
                    <input type="button" value="포워드 런지" onclick="select_exercise(this)"></input>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>With Fitness</title>

    <link rel="stylesheet" href="/static/css/style_g1.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_g1.css' %}"/>
    <link rel="shortcut icon" href="{% static '/img/favicon2.png' %}"> {% endcomment %}

    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"> {% endcomment %}

    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
{% comment %} </head>
<body>
    <img id="audiobtn" src="/static/on.png" onclick="play_pause()"></img>
    <div class="screen">
        <form method='POST'>
            {% csrf_token %}
            <div class="select_exercise">
                <div class="exercise">
                    <img src="/static/img/fitness/push_up.gif">
                    <input type="button" value="푸시업" onclick="select_exercise(this)"></input>
                </div>
                <div class="exercise">
                    <img src="/static/img/fitness/side_lunge.gif">
                    <input type="button" value="사이드 런지" onclick="select_exercise(this)"></input>
                </div>
                <div class="exercise">
                    <img src="/static/img/fitness/standing_knee_up.gif">
                    <input type="button" value="스탠딩 니 업" onclick="select_exercise(this)"></input>
                </div>
                <div class="exercise">
                    <img src="/static/img/fitness/step_forward_lunge.gif">
                    <input type="button" value="포워드 런지" onclick="select_exercise(this)"></input>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    let bgm = new Audio();
    bgm.src = "/static/upright-piano-arcade-instrumental-mix-1342.mp3";
    bgm.play();

    let count = 1;

    function getval(value) {
        let selected = value;
        console.log(selected);
    }; {% endcomment %}

    // 배경 음악 재생/정지
    {% comment %} function play_pause() {
        if (count == 0) {
            count = 1;
            bgm.play();
            document.getElementById('audiobtn').src = '/static/on.png';
        }
        else {
            count = 0;
            bgm.pause();
            document.getElementById('audiobtn').src = '/static/off.png';
        };
    };

    // exercise.html -> people.html
    function select_exercise(exercise) {
        const selected_exercise = exercise.value;
        console.log(selected_exercise);
        if (selected_exercise == "푸시업") {
            exercise_img = "push_up";
        } else if (selected_exercise == "사이드 런지") {
            exercise_img = "side_lunge";
        } else if (selected_exercise == "스탠딩 니 업") {
            exercise_img = "standing_knee_up";
        } else {
            exercise_img = "step_forward_lunge";
        };
        console.log(exercise_img);
        fetch('/player/').then(function(response) {
            response.text().then(function(text) {
                document.querySelector('body').innerHTML = text;
                document.getElementById('ex_img').src = "/static/img/fitness/" + exercise_img + ".gif";
                document.getElementById('ex_name').innerHTML = selected_exercise;
            })
        })
    }; {% endcomment %}

    {% comment %} $("p_btn").click(function() {
        let selected_p = $(this).value();
        console.log(selected_p);
    }); {% endcomment %}

    {% comment %} document.querySelector("p_btn").click(function() {
        let selected_p = this.value;
        console.log(selected_p);
    }); {% endcomment %}

    {% comment %} function get_p(p) {
        let selected_p = p.value;
        console.log(selected_p);
    };

    document.querySelector("p_btn")
    .addEventListener("click", get_p(this)); {% endcomment %}

    {% comment %} function select_p(p) {
        const selected_p = p.value;
        console.log(selected_p);
        return selected_p;
    }; {% endcomment %}

    {% comment %} function get_team_name() {
        let team_name = document.querySelector('team_name').value;
        console.log(team_name);
    };

    function game_play() {
        fetch('play/').then(function(response) {
            response.text().then(function(text) {
                document.querySelector('body').innerHTML = text;
            })
        })
    };
</script>
</html> {% endcomment %}

